node_modules
.DS_Store

# last week hw

# current hw
01-HTML-Git-CSS/02-Challenge/Main

# mini-project
01-HTML-Git-CSS/01-Activities/22-Stu_Mini-Project/Main

# activities

01-HTML-Git-CSS/01-Activities/15-Ins_HTML-display
01-HTML-Git-CSS/01-Activities/16-Stu_HTML-display
01-HTML-Git-CSS/01-Activities/17-Ins_CSS-box-model
01-HTML-Git-CSS/01-Activities/18-Stu_CSS-box-model
01-HTML-Git-CSS/01-Activities/19-Ins_CSS-positioning
01-HTML-Git-CSS/01-Activities/20-Stu_CSS-positioning
01-HTML-Git-CSS/01-Activities/21-Evr_Git-Guide
01-HTML-Git-CSS/01-Activities/22-Stu_Mini-Project

# solutions
Solved