* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* Added a header element, removed .header class */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    font-size: 48px;
    display: inline-block;
}

header h1 .seo {
    color: #d9dcd6;
}

/* Reduced the navigation area into one class and an element selector instead of 4. */
nav {
    float: right;
    padding-top: 15px;
}

.navbar {
    margin-inline: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
}

/* Added screen width accessibility to address sizing issues */
@media screen and (max-width:1046px) {
    .navbar {
        margin-inline: 10px;
    }
}

/* Made the .hero class correctly into an ID element and made the #hero id more responsive */
#hero {
    height: 50% auto;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* Reordered everything below this message to accurately reflect its location in the corresponding HTML code.
 Renamed a large number of classes into more semantic elements such as <main> and <aside>. Removed several others outright.*/
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Now using the .section class. */
.section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.section img {
    max-height: 200px;
}

.section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Now using the <aside> element.*/
aside {
    margin-right: 20px;
    padding: 20px;
    float: right;
    width: 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

p {
    padding-bottom: 20px;
}

/* Now using the .benefit class */
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit h3 {
    padding-top: 20px;
    text-align: center;
}

.benefit img {
    display: block;
    margin: auto;
    max-width: 150px;
}

/* Changed from .footer class to footer element. */
footer {
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}